body {
  margin: 10px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  height: 50px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.headline {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 3px;
  margin-right: 7px;
  height: 30px;
  width: auto;
}

h1:nth-child(1) {
  opacity: 1;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  padding: 3px;
  color: #999999;
  letter-spacing: 3px;
  opacity: 0.5;
  margin-left: 10px;
  margin-top: 26px;
}

.mail{
  margin-right: 4px;
  width: 34px;
  height: 22px;
  border-radius: 2%;
  background-color: #444444;
  overflow: hidden;
  opacity: 01;
}

.mail-top {
    z-index: 50;
    position: relative;
    width: 26px;
    height: 22px;
    background: black;
    background: #0f0f0f;
    transform: rotate(45deg);
    opacity: 0.85;
    top: -12px;
    left: 3px;
    box-shadow: 5px 0px 4px (188, 188, 188,0.4);
}
.mail-bottom {
    z-index: 20;
    position: relative;
    width: 22px;
    height: 22px;
    background: #282828;
    transform: rotate(45deg);
    top: -14px;
    left: 7px;
    opacity: 0.4;
}




/*Grid*/

.container {
  height: 700px;
  width: 900px;
  display: flex;
  max-width: 100%;
}

.side {
  display: flex;
  width: auto;
  flex-basis: 100%;
}

.side_one {
  flex-direction: column;
}

.area {
  display: flex;
  flex-grow: 1;
  width: auto;
  flex-basis: 100%;
}

.col_1, .col_2 {
  flex-direction: column;
}

.box {
  display: flex;
  flex-grow: 1;
  background: #f4f4f4;
  flex-basis: 100%;
  width: auto;
  margin: 3px;
  z-index: 3;
}

.five, .eight {;
  flex-basis: 50%;
  flex-grow: 0.5;
}

.minimize {
  animation: minimize .8s ease-in-out 0s forwards;
}

@keyframes minimize {
  to {
    flex-basis: 0%;
    opacity: 0;
    flex-grow: 0;
  }
}

.expand {
  animation: expand .8s ease-in-out 0s forwards;
}

@keyframes expand {
  from {
    flex-basis: 0%;
    opacity: 0;
    flex-grow: 0;
  }
  to {
    flex-basis: 100%;
    opacity: 1;
    flex-grow: 1;
  }
}

.fade-in-one {
  opacity: 0;
  animation: fadeIn .4s ease-in 1 forwards;
  animation-delay: 1.4s;
}

.fade-in-two {
  opacity: 0;
  animation: fadeIn .6s ease-in 1 forwards;
  animation-delay: 0.2s;
}

.fade-in-three {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
  animation-delay: 0.4s;
}

.fade-in-four {
  opacity: 0;
  animation: fadeIn .4s ease-in 1 forwards;
  animation-delay: 0.1s;
}

.fade-in-five {
  opacity: 0;
  animation: fadeIn .6s ease-in 1 forwards;
  animation-delay: 1.1s;
}

.fade-in-six {
  opacity: 0;
  animation: fadeIn .8s ease-in 1 forwards;
  animation-delay: 0.5s;
}

.fade-in-seven {
  opacity: 0;
  animation: fadeIn .9s ease-in 1 forwards;
  animation-delay: .8s;
}

.fade-in-eight {
  opacity: 0;
  animation: fadeIn .4s ease-in 1 forwards;
  animation-delay: .9s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/*Text*/
.content {
  display: flex;
  flex-basis: 100%;
  font-size: 12px;
  color: black;
  pointer-events: none;
}

.titles {
  display: flex;
  flex-basis: 100%;
  pointer-events: none;
}

h4 {
  margin: 5px;
  margin-top: 3px;
  margin-right: -10px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  opacity: 0.2;
  border: none;
}

h2 {
  margin: auto;
  padding-top: 5px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 3px;
  opacity: 0.9;
}

.bodyText {
  display: none;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  opacity: 0;
  animation: bodyFade 1s 0.9s forwards;
  line-height: 26px;
}

h5 {
  margin: 0px 0px -30px 0px;
}

h3 {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 18px;
}

.line {
  margin-top: -8px;
  margin-bottom: 10px;
  height: 1px;
  width: 100px;
  background: grey;
  opacity: 0.2;
}



@keyframes bodyFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  animation: marginGrow 1s ease-in forwards;
  opacity: 0.5;
}

@keyframes marginGrow {
  from {
    margin: 0;
  }
  to {
    margin: 70px;
  }
}

h5 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.2;
}

/*@keyframes textMove {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}*/

@media only screen and (max-width: 705px) {

  h2 {
    font-size: 8px;
  }
  
}

@media only screen and (max-width: 580px) {

  .container {
    flex-wrap: wrap;
  }

}



@media only screen
  and (max-device-width : 667px) {
    header {
      height: 100px;
      width: 98%;
      margin-top: 0px;
    }

    .logo {
      height: 45px;
      width: auto;
      margin-right: 20px;
    }

    .mail{
      width: 50px;
      height: 35px;
    }

    .mail-top {
      width: 34px;
      height: 30px;
      left: 7px;
    }
    .mail-bottom {
      width: 30px;
      height: 30px;
      left: 9px;
    }

    .container {
        width: 100%;
        height: 81vh;
        flex-direction: column;
    }

    .five, .eight {
      flex-basis: 0%;
    }

    .box {
      margin: 4px;
    }

    h1 {
      font-size: 28px;
      font-weight: 300;
    }

    h4 {
      font-size: 22px;
      margin-left: 8px;
      opacity: 0.2;
    }

    h2 {
      font-size: 22px;
      opacity: 0.5;
    }

    h3 {
      letter-spacing: 5px;
      font-weight: 200;
      font-size: 38px;
      line-height: 58px;
      width: 700px;
    }

    p {
      font-size: 26px;
      line-height: 46px;
    }

    .bodyText, h5 {
      font-size: 28px;
    }

    .line {
      opacity: 0.8;
      margin-bottom: -30px;
    }
}




/*
@media only screen and (max-width: 600px) {
  .container {
      width: 100%;
      height: 1400px;
      flex-direction: column;
  }

  h1 {
    font-size: 12px;
  }

  h1:nth-child(2), h1:nth-child(3) {
    display: none;
  }
}*/