body {
  margin: 10px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

header {
  height: 50px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%; }

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  margin-left: 3px;
  margin-right: 7px;
  height: 30px;
  width: auto; }

h1:nth-child(1) {
  opacity: 1; }

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  padding: 3px;
  color: #999999;
  letter-spacing: 3px;
  opacity: 0.5;
  margin-left: 10px;
  margin-top: 26px; }

.mail {
  margin-right: 4px;
  width: 34px;
  height: 22px;
  border-radius: 2%;
  background-color: #444444;
  overflow: hidden;
  opacity: 01; }

.mail-top {
  z-index: 50;
  position: relative;
  width: 26px;
  height: 22px;
  background: black;
  background: #0f0f0f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.85;
  top: -12px;
  left: 3px;
  box-shadow: 5px 0px 4px 188, 188, 188, 0.4; }

.mail-bottom {
  z-index: 20;
  position: relative;
  width: 22px;
  height: 22px;
  background: #282828;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -14px;
  left: 7px;
  opacity: 0.4; }

/*Grid*/
.container {
  height: 700px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%; }

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.side_one {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.col_1, .col_2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f4f4f4;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: auto;
  margin: 3px;
  z-index: 3; }

.five, .eight {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5; }

.minimize {
  -webkit-animation: minimize .8s ease-in-out 0s forwards;
          animation: minimize .8s ease-in-out 0s forwards; }

@-webkit-keyframes minimize {
  to {
    flex-basis: 0%;
    opacity: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; } }

@keyframes minimize {
  to {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    opacity: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; } }

.expand {
  -webkit-animation: expand .8s ease-in-out 0s forwards;
          animation: expand .8s ease-in-out 0s forwards; }

@-webkit-keyframes expand {
  from {
    flex-basis: 0%;
    opacity: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; }
  to {
    flex-basis: 100%;
    opacity: 1;
    -webkit-box-flex: 1;
            flex-grow: 1; } }

@keyframes expand {
  from {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    opacity: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  to {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

.fade-in-one {
  opacity: 0;
  -webkit-animation: fadeIn .4s ease-in 1 forwards;
          animation: fadeIn .4s ease-in 1 forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.fade-in-two {
  opacity: 0;
  -webkit-animation: fadeIn .6s ease-in 1 forwards;
          animation: fadeIn .6s ease-in 1 forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.fade-in-three {
  opacity: 0;
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
          animation: fadeIn .5s ease-in 1 forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.fade-in-four {
  opacity: 0;
  -webkit-animation: fadeIn .4s ease-in 1 forwards;
          animation: fadeIn .4s ease-in 1 forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.fade-in-five {
  opacity: 0;
  -webkit-animation: fadeIn .6s ease-in 1 forwards;
          animation: fadeIn .6s ease-in 1 forwards;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s; }

.fade-in-six {
  opacity: 0;
  -webkit-animation: fadeIn .8s ease-in 1 forwards;
          animation: fadeIn .8s ease-in 1 forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.fade-in-seven {
  opacity: 0;
  -webkit-animation: fadeIn .9s ease-in 1 forwards;
          animation: fadeIn .9s ease-in 1 forwards;
  -webkit-animation-delay: .8s;
          animation-delay: .8s; }

.fade-in-eight {
  opacity: 0;
  -webkit-animation: fadeIn .4s ease-in 1 forwards;
          animation: fadeIn .4s ease-in 1 forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*Text*/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 12px;
  color: black;
  pointer-events: none; }

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  pointer-events: none; }

h4 {
  margin: 5px;
  margin-top: 3px;
  margin-right: -10px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  opacity: 0.2;
  border: none; }

h2 {
  margin: auto;
  padding-top: 5px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 3px;
  opacity: 0.9; }

.bodyText {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 13px;
  opacity: 0;
  -webkit-animation: bodyFade 1s 0.9s forwards;
          animation: bodyFade 1s 0.9s forwards;
  line-height: 26px; }

h5 {
  margin: 0px 0px -30px 0px; }

h3 {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 18px; }

.line {
  margin-top: -8px;
  margin-bottom: 10px;
  height: 1px;
  width: 100px;
  background: grey;
  opacity: 0.2; }

@-webkit-keyframes bodyFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bodyFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

p {
  -webkit-animation: marginGrow 1s ease-in forwards;
          animation: marginGrow 1s ease-in forwards;
  opacity: 0.5; }

@-webkit-keyframes marginGrow {
  from {
    margin: 0; }
  to {
    margin: 70px; } }

@keyframes marginGrow {
  from {
    margin: 0; }
  to {
    margin: 70px; } }

h5 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.2; }

/*@keyframes textMove {
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}*/
@media only screen and (max-device-width: 667px) {
  header {
    height: 100px;
    width: 98%;
    margin-top: 0px; }
  .logo {
    height: 45px;
    width: auto;
    margin-right: 20px; }
  .mail {
    width: 50px;
    height: 35px; }
  .mail-top {
    width: 34px;
    height: 30px;
    left: 7px; }
  .mail-bottom {
    width: 30px;
    height: 30px;
    left: 9px; }
  .container {
    width: 100%;
    height: 81vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .five, .eight {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%; }
  .box {
    margin: 4px; }
  h1 {
    font-size: 28px;
    font-weight: 300; }
  h4 {
    font-size: 22px;
    margin-left: 8px;
    opacity: 0.2; }
  h2 {
    font-size: 22px;
    opacity: 0.5; }
  h3 {
    letter-spacing: 5px;
    font-weight: 200;
    font-size: 38px;
    line-height: 58px;
    width: 700px; }
  p {
    font-size: 26px;
    line-height: 46px; }
  .bodyText, h5 {
    font-size: 28px; }
  .line {
    opacity: 0.8;
    margin-bottom: -30px; } }

/*
@media only screen and (max-width: 600px) {
  .container {
      width: 100%;
      height: 1400px;
      flex-direction: column;
  }

  h1 {
    font-size: 12px;
  }

  h1:nth-child(2), h1:nth-child(3) {
    display: none;
  }
}*/
